{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Dianon{% endblock %}</title>
<link rel = "icon" type = "image/png" href = "{% static './icon/dianon-fav.ico' %}">
<link href="{% static './styles/style.css' %}" rel="stylesheet">
</head>
<body>

    {% block content %}
    
    <h1> This is the index page! </h1>
    <a href="{% url 'about' %}">About Page</a>

    {% endblock %}

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>